/* General Styles */
body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background: url('snow.gif') no-repeat center center fixed;
  background-size: cover;
  color: white;
  text-align: center;
}

/* Rotating Santa */
.santa-container {
  margin-top: 20px;
}

#rotating-santa {
  width: 150px;
  height: 150px;
  animation: spin 8s linear infinite;
}

/* Rotation Animation */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Content Styles */
.content {
  margin: 20px auto;
  max-width: 600px;
}

h1 {
  font-size: 3rem;
  margin: 10px;
}

h2 {
  font-size: 2rem;
  margin: 20px 0 
